body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: rgb(108, 108, 108);
}

header {
  background-color: 8e900;
  color: #ffff;
  text-align: center;
  padding: 1rem 0;
}

header p {
  margin: 2rem;
}

nav a {
  color: red;
  text-decoration: none;
  background-color: black;
  padding: 0.5rem 1rem; /* EspacÌ§amento interno primeiro valor na vertical, segundo na vertical */
  margin: 1rem 1rem;
  border-radius: 4px;
}

a:hover {
  background-color: #ffff;
  color: black;
}

main {
  width: 80%;
  margin: 2rem auto;
}

.categoria {
  margin-bottom: 2rem;
}

.produto img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
}

.produto {
  background-color: #ffff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.preco {
  font-weight: bold;
  color: red;
  font-size: 22pt;
  margin-bottom: 1rem;
}

button {
  background-color: red;
  color: #ffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  color: #ffff;
}

@media (min-width: 768px) {
  main {
    width: 50%;
  }

  .categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 360px) {
  main {
    width: 80%;
  }

  nav a {
    display: grid;
  }

  .categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}
